$sage: #B5BD89;
$kaki: #533747;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.jumbotron{
     background-color: $kaki ;
     color: white;
     @include margenes(50px, 0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer {
     background-color: $kaki;
     color: white;
     margin-top: 10px;
}

.link{
    color: white;
}

.banner{
    display:block;
    margin:auto;
    } 

.tab-content{
    padding-top: 10px;
}

.form-header{
    background-color: $sage;
    font-family: 'Raleway', sans-serif;
}

