@sage: #B5BD89;
@kaki: #C3B299;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
  background-color:@kaki;
  color: white;
  .margenes(50px, 0px);
}

.card-hotel {
  flex: 1 200px;
 .margenes(10px, 0px) }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer {
  background-color: @kaki;
  color: white;
  .margenes(10px, 0px);
}

.link {
  color: white; }

.banner {
  display: block;
  margin: auto; }

.tab-content {
  padding-top: 10px; }

.form-header {
  background-color: @sage;
  font-family: 'Raleway', sans-serif; }
