@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
.jumbotron {
  background-color: #C3B299;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer {
  background-color: #C3B299;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.link {
  color: white;
}
.banner {
  display: block;
  margin: auto;
}
.tab-content {
  padding-top: 10px;
}
.form-header {
  background-color: #B5BD89;
  font-family: 'Raleway', sans-serif;
}
