@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.jumbotron {
  background-color: #533747;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer {
  background-color: #533747;
  color: white;
  margin-top: 10px; }

.link {
  color: white; }

.banner {
  display: block;
  margin: auto; }

.tab-content {
  padding-top: 10px; }

.form-header {
  background-color: #B5BD89;
  font-family: 'Raleway', sans-serif; }
